// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
    background-color: #474747 !important;
    color: #00e604 !important;
    border-color: #00e604 !important;
}
.alert-danger {
    background-color: #474747 !important;
    border-color: #a94442 !important;
}
.home-newsletter {
  padding: 80px 0;
}
.field_with_errors { display: inherit; width: 100%; }
.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
i.fa.fa-paper-plane {
  font-size: 29px;
  color: white;
  padding: 15px;
}
.home-newsletter .single h2 {
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 0 40px 0;
  font-family: "Iceberg", sans-serif;
}
.home-newsletter .single .form-control {
  height: 55px;
  word-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  width: 70%;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.17);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  height: 55px;
  /* background-color: rgba(22, 182, 234, 0.52); */
  background-color: #131313;
  /* background-color: #303e49; */
  border: none;
  outline: none;
  position: relative;
  float: none;
  font-size: 14px;
  border-radius: 0px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-background-clip: padding-box;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
